body{
    margin: 0;
}
.div1{
    height: 80px;
    width: 100%;
    background-color: black;
    
}
span{
    color: white;
}
.ufc{
    position: absolute;
    margin-left: 721px;
    margin-top: 17px;
}

.esquerda{
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.topico:hover{
    color: red;
}